FORMAT: 1A
HOST: http://muffin-api.progresso.net/v2

# Progresso API
Provides the ability to manage school information.

# Authorization
Methods for security and access

## Access Tokens [/Token]

### Request token [POST]

+ Request

    + Headers
    
            Content-Type: "application/x-www-form-urlencoded"
            
    + Body
    
            grant_type=password&username=[USERNAME]&password=[URI_ENCODED_PASSWORD]

+ Response 200 (application/json)

    + Body
    
            {
                "access_token":     "access_token_for_api_calls",
                "schoolId":         "schooId_token_valid_for",
                "companyId":        "current_company_id",
                "userId":           "progresso_user_id_for_token"
            }



# Group Employees
Group of all employee-related resources

## Employee Record [/employees/{id}]
+ Parameters
    + id (required, number, `12345`) ... The unique identifier of the employee

### Retrieve employee [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        
    

+ Response 200 (application/json)

    + Body
    
            {
                "staffCode":             "sc123",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "phoneId":  00001
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "phoneId":  00002
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }],
                "status":               "active",
                "niNumber":             "NI1234HJGJ34",
                "qtStatus":               "",
                "qtsRoute":               "",
                "dateOfQTS":              "",
                "HTLA":                   "",
                "dateOfHTLAStatus":       "",
                "languageDetails":        [{
                                            "type":     "Home",
                                            "code":     "Swedish",
                                            "level":    "Advanced"
                                        }],
                "qualificationDetails":   [{
                                            "qualificationCode":  "",
                                            "subject1":           "",
                                            "subject2":           "",
                                            "classOfDegree":      "",
                                            "verified":           ""
                                        }],
                "nationality":            "",
                "ethnicity":              "",
                "religion":               "",
                "laStartDate":            "",
                "disability":             ""
            }


## Employees Collection [/employees{?status}{?since}]
Collection of all employees for a school

### Retrieve collection of employees [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Parameters
    + status (optional, string, `active`) ... Optional filter by status, valid values [ active | left ].
    + since (optional, dateTime, `01-04-2014T18:00:00`) ... Optional filter to retrieve all changes since the date time specified. Only employee records that have changed will be returned.

+ Response 200 (application/json)

    + Body
    
            [{
                "employeeId":           12345,
                "staffCode":             "JBl",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }],
                "status":               "active",
                "niNumber":             "NI1234HJGJ34",
                "qtStatus":               "",
                "qtsRoute":               "",
                "dateOfQTS":              "",
                "HTLA":                   "",
                "DateOfHTLAStatus":       "",
                "LanguageDetails":        [{}],
                "QualificationDetails":   [{
                                            "qualificationCode":  "",
                                            "subject1":           "",
                                            "subject2":           "",
                                            "classOfDegree":      "",
                                            "verified":           ""
                                        }],
                "nationality":            "",
                "ethnicity":              "",
                "religion":               "",
                "laStartDate":            "",
                "disability":             ""
            },
            {
                "employeeId":           54321,
                "staffCode":             "JDo",
                "title":                "Mrs",
                "surname":              "Doe",
                "forname":              "Jane",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Doe",
                "legalForename":        "Jane",
                "formerSurname":        "Smith",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "F",
                "startDate":            "28-02-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015556655",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075556655",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }],
                "status":               "active",
                "niNumber":             "NI123JHJGJ34",
                "qtStatus":               "",
                "qtsRoute":               "",
                "dateOfQTS":              "",
                "HTLA":                   "",
                "DateOfHTLAStatus":       "",
                "LanguageDetails":        [{}],
                "QualificationDetails":   [{
                                            "qualificationCode":  "",
                                            "subject1":           "",
                                            "subject2":           "",
                                            "classOfDegree":      "",
                                            "verified":           ""
                                        }],
                "nationality":            "",
                "ethnicity":              "",
                "religion":               "",
                "laStartDate":            "",
                "disability":             ""
            }]

## Create/Update Employee Records [/employees]
### Create Employee [POST]
Create one to many employee records

+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body

            [{
                "staffCode":             "sc123",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "leftDate":              "21-06-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }],
                "status":               "active",
                "NINumber":             "NI1234HJGJ34",
                "qtStatus":               "",
                "qtsRoute":               "",
                "dateOfQTS":              "",
                "HTLA":                   "",
                "dateOfHTLAStatus":       "",
                "languageDetails":        [{}],
                "qualificationDetails":   [{
                                            "qualificationCode":  "",
                                            "subject1":           "",
                                            "subject2":           "",
                                            "classOfDegree":      "",
                                            "verified":           ""
                                        }],
                "nationality":            "",
                "ethnicity":              "",
                "religion":               "",
                "laStartDate":            "",
                "disability":             ""
            }]

+ Response 200
    + Body
    
            [{
                "staffCode":             "sc123",
                "EmployeeId":           "000001",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "phoneId":  "00001"
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "phoneId":  "00002"
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                            "addressId":  "00001"
                                        }]
            }]

### Update Employee Records [PUT]
Update one to many employee records

+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body

            [{
                "employeeId":           000001,
                "staffCode":             "sc123",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "leftDate":              "21-06-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }],
                "status":               "active",
                "NINumber":             "NI1234HJGJ34",
                "qtStatus":               "",
                "qtsRoute":               "",
                "dateOfQTS":              "",
                "HTLA":                   "",
                "dateOfHTLAStatus":       "",
                "languageDetails":        [{}],
                "qualificationDetails":   [{
                                            "qualificationCode":  "",
                                            "subject1":           "",
                                            "subject2":           "",
                                            "classOfDegree":      "",
                                            "verified":           ""
                                        }],
                "nationality":            "",
                "ethnicity":              "",
                "religion":               "",
                "laStartDate":            "",
                "disability":             ""
            }]

+ Response 200
    + Body
    
            [{
                "EmployeeId":           "000001",
                "staffCode":             "sc123",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "phoneId":  "00001"
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "phoneId":  "00002"
                                        }],
                "UKaddressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                            "addressId":  "00001"
                                        }]
            }]


## Employees Contacts [/employeeContacts{?status}]
Collection of all employees contacts for a school

### Retrieve collection of employees contacts [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Parameters
    + status (optional, string, `active`) ... Optional filter by status, valid values [ active | left ].


+ Response 200
    + Body
    
            [{
                "EmployeeId":           "000001",
                "staffCode":             "sc123",
                "contacts": 
                            [{
                                        "contactId":    00001,
                                        "forename":     "",
                                        "surname":      "",
                                        "relationship": "Partner",
                                        "priority":     1,
                                        "emergency":    "primary"
                                    `   "nextOfKin":    true
                            },
                            {  
                                        "contactId":    00002,
                                        "forename":     "",
                                        "surname":      "",
                                        "relationship": "Other",
                                        "priority":     2,
                                        "emergency":    ""
                                    `   "nextOfKin":    false
                            }]
            }]
    

## Create/Update Employee Contact Association [/employeeContacts]
### Create Employee Contact Association [POST]
Associate Employee to one to multiple contacts

+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "EmployeeId":           "000001",
                "contacts": 
                            [{
                                        "contactId":    00001,
                                        "relationship": "Partner",
                                        "priority":     1,
                                        "emergency":    "primary"
                                    `   "nextOfKin":    true
                            },
                            {  
                                        "contactId":    00002,
                                        "relationship": "Other",
                                        "priority":     2,
                                        "emergency":    ""
                                    `   "nextOfKin":    false
                            }]
            }]

+ Response 200
    + Body
    
            [{
                "EmployeeId":           "000001",
                "status":              true
                 "details":              "Update Successful"
                "contacts": 
                            [{
                              
                                "contactId":            00001,
                                "status":              true
                                "details":              "Update Successful"
                            },
                            {  
                                
                                "contactId":            00001,
                                 "status":              true
                                "details":              "Update Successful"
                            }]
            }]
                            



## Employees Checks [/employeeChecks{?verficationStartDate}{?verficationEndDate}{?employee}]
Collection of all employee checks for employees within a school

### Retrieve collection of employee checks [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Parameters
    + verficationStartDate (optional, dateTime, `01-04-2014T18:00:00`) ... Optional filter to Checks with a verification date after a date
    + verficationEndDate (optional, dateTime, `01-04-2014T18:00:00`) ... Optional filter to Checks with a verification date before a date
    + employee (optional, int, `0001``) ... Optional filter to an Employee

+ Response 200 (application/json)

    + Body
    
            [{
                "employeeId":       0001,
                "staffCode":             "sc123",     

                                        "ADD":  [{
                                                    "checkId":              1,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                }],
                                        "AGN":  [{ 
                                                    "checkId":              2,
                                                    "agencyName":           "",
                                                    "paperworkDate":       "12-09-2013"
                                                }],
                                        "DBS":  [{
                                                    "checkId":              3,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    "clearenceLevel":       "Enhanced check",
                                                    "result":               "Pass",
                                                    "requestDate":          "12-09-2013",
                                                    "reviewDate":           "12-09-2013",
                                                    "disclousureReference": "T000135"
                                                
                                                
                                                }],
                                        "GTC":  [{ 
                                                    "checkId":              4,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                
                                                }],
                                        "ID":  [{ 
                                                    "checkId":              5,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                
                                                }],
                                        "List99":  [{ 
                                                    
                                                    "checkId":              6,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "list99Clearence":      "Pass",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    
                                                    }],
                                        "MED":  [{ 
                                                    "checkId":              7,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                
                                                }],
                                        "Qual":  [{
                                                    "checkId":              8,
                                                     "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                        
                                                }],
                                        "RED":  [{ 
                                                    "checkId":              9,
                                                     "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    
                                                }],
                                        "RTW":  [{ 
                                                    "checkId":              10,
                                                     "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                
                                                }]

            
            
            
            }]


## Create/Update Employee Checks [/employeeChecks]
### Create Employee Checks [POST]
Create Employee checks for one to multiple contacts


+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                
                "employeeId":       0001,
  
                                        "ADD":  [{ }],
                                        "AGN":  [{ }],
                                        "DBS":  [{ }],
                                        "GTC":  [{ }],
                                        "ID":   [{ }],
                                        "List99":  [{ 
                                                    
                                                    "checkId":              0,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "list99Clearence":      "Pass",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    
                                                    }],
                                        "MED":  [{  }],
                                        "Qual": [{ }],
                                        "RED":  [{ }],
                                        "RTW":  [{ }]
                  
                                
            }]

+ Response 200 (application/json)

    + Body
    
            [{
            
                "status":       true,
                "details":      "Create Succesful",
                "employeeId":       0001,
          
                                        "ADD":  [{ }],
                                        "AGN":  [{ }],
                                        "DBS":  [{ }],
                                        "GTC":  [{ }],
                                        "ID":   [{ }],
                                        "List99":  [{ 
                                                    
                                                    "checkId":              00001,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "list99Clearence":      "Pass",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    
                                                    }],
                                        "MED":  [{  }],
                                        "Qual": [{ }],
                                        "RED":  [{ }],
                                        "RTW":  [{ }]
                    

            }]

### Update Employee Checks [PUT]
Update Employee checks for one to multiple contacts


+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "employeeId":       0001,
               
                                        "ADD":  [{ }],
                                        "AGN":  [{ }],
                                        "DBS":  [{ }],
                                        "GTC":  [{ }],
                                        "ID":   [{ }],
                                        "List99":  [{ 
                                                    
                                                    "checkId":              00001,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "list99Clearence":      "Pass",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    
                                                    }],
                                        "MED":  [{  }],
                                        "Qual": [{ }],
                                        "RED":  [{ }],
                                        "RTW":  [{ }]
                               
            }]

+ Response 200 (application/json)

    + Body
    
            [{
            
                "status":       true,
                "details":      "Create Succesful",
                "employeeId":       0001,
                "checks":       [{
                                        "ADD":  [{ }],
                                        "AGN":  [{ }],
                                        "DBS":  [{ }],
                                        "GTC":  [{ }],
                                        "ID":   [{ }],
                                        "List99":  [{ 
                                                    
                                                    "checkId":              00001,
                                                    "verificationDate":     "12-09-2013",
                                                    "expiryDate":           "12-09-2014",
                                                    "list99Clearence":      "Pass",
                                                    "checkedByCode":            "JD",
                                                    "checkedByName":            "John Doe",
                                                    "position":             "Headteacher",
                                                    "evidence":             "Certificate Provided"
                                                    
                                                    }],
                                        "MED":  [{  }],
                                        "Qual": [{ }],
                                        "RED":  [{ }],
                                        "RTW":  [{ }]
                                }]

            }]



## Employees Contracts [/employeeContracts{?employee}]
Collection of all employee checks for employees within a school

### Retrieve collection of employee contracts [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Parameters

    + employee (optional, int, `0001``) ... Optional filter to an Employee

+ Response 200 (application/json)

    + Body
    
            [{
                "employeeId":       00001,
                "staffCode":        "sc123",
                "contracts":        [{
                                        contractId":       0001    
                                        "type":         "PRM",
                                        "name":         "Main Contract",
                                        "startDate":    "01-09-2013",
                                        "endDate":      "31-08-2015",
                                        "postCode":     "AHT",
                                        "postName":     "Assistant Head",
                                        "dailyRate":    true
                                         "origin":       "Other",
                                        "destination":  ""                           
                                        "roles":    [{
                                                        "roleId":           0001,
                                                        role":             "Teaching Assistant",
                                                        "hoursPerWeek":     32.50,
                                                        "FTEHours":         32.50,
                                                        "weeksPerYear":     52.14,
                                                        "payrollNumber":    123456,
                                                        "NIRate":           "Contracted In",
                                                        "superannuation":   "Teachers Superannuation",
                                                        "costCentre":       "TEACH (Teaching Staff)",
                                                        "ledgerCode":       "A040 (Teachers Salaries"
                                                        "salaries":         [{
                                                                                "salaryId":             00001,
                                                                                "effectiveFrom":        "01-09-2014",
                                                                                "effectiveTo":          "31-08-2015",         "",
                                                                                "payScale":             "",
                                                                                "regionalSpine":        "",
                                                                                "point":                "",
                                                                                "safeguardedSalary":    true,
                                                                                "includeInPensionCalc": false,
                                                                                "includeInNICalc":      true,
                                                                                "basePay":              ""
                                                                            }]
                                                        "allowance":        [{
                                                                                "allowanceId":          1,
                                                                                "effectiveFrom":        "01-09-2014",
                                                                                "effectiveTo":          "31-08-2015",
                                                                                "category":             "",
                                                                                "amount":               ""
                                                                            }]
                                                        
                                                    }]
                                    }]
            },
            {
                "employeeId":       00002,
                "staffCode":        "ad456",
                "contracts":        [{
                                        contractId":    0002    
                                        "type":         "FXT",
                                        "name":         "Sum Contract",
                                        "startDate":    "01-09-2013",
                                        "endDate":      "31-08-2014",
                                        "postCode":     "SUP",
                                        "postName":     "Support Staff",
                                        "dailyRate":    true,
                                        "origin":       "Other",
                                        "destination":  "",
                                        "roles":    [{
                                                        "roleId":           0002,
                                                        "role":             "Teaching Assistant",
                                                        "hoursPerWeek":     32.50,
                                                        "FTEHours":         32.50,
                                                        "weeksPerYear":     52.14,
                                                        "payrollNumber":    123456,
                                                        "NIRate":           "Contracted In",
                                                        "superannuation":   "Teachers Superannuation",
                                                        "costCentre":       "TEACH (Teaching Staff)",
                                                        "ledgerCode":       "A040 (Teachers Salaries"
                                                        "salaries":         [{
                                                                                "salaryId":             00002,
                                                                                "effectiveFrom":        "01-09-2014",
                                                                                "effectiveTo":          "31-08-2015",
                                                                                "payScale":             "",
                                                                                "regionalSpine":        "",
                                                                                "point":                "",
                                                                                "safeguardedSalary":    true,
                                                                                "includeInPensionCalc": false,
                                                                                "includeInNICalc":      true,
                                                                                "basePay":              ""
                                                                            }]
                                                    }]
                                    },
                                    {
                                        "contractId":    0003    
                                        "type":         "FXT",
                                        "name":         "Sum Contract",
                                        "startDate":    "01-09-2014",
                                        "endDate":      "31-08-2015",
                                        "postCode":     "SUP",
                                        "postName":     "Support Staff",
                                        "dailyRate":    true,
                                        "origin":       "Other",
                                        "destination":  ""
                                        "roles":    [{
                                                        "roleId":           0003,
                                                        role":             "Teaching Assistant",
                                                        "hoursPerWeek":     32.50,
                                                        "FTEHours":         32.50,
                                                        "weeksPerYear":     52.14,
                                                        "payrollNumber":    123456,
                                                        "NIRate":           "Contracted In",
                                                        "superannuation":   "Teachers Superannuation",
                                                        "costCentre":       "TEACH (Teaching Staff)",
                                                        "ledgerCode":       "A040 (Teachers Salaries)"
                                                        "salaries":         [{
                                                                                "salaryId":             00003,
                                                                                "effectiveFrom":        "01-09-2014",
                                                                                 "effectiveTo":          "31-08-2015",
                                                                                "payScale":             "",
                                                                                "regionalSpine":        "",
                                                                                "point":                "",
                                                                                "safeguardedSalary":    true,
                                                                                "includeInPensionCalc": false,
                                                                                "includeInNICalc":      true,
                                                                                "basePay":              ""
                                                                            }]
                                                    }]                                        
                                    
                                    }]
             }]  

## Create/Update Employee Contracts [/employeeContracts]
### Create Contract [POST]
Create one to many contract records  


+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "employeeId":       00001,
                "contracts":        [{
                                        contractId":       0,    
                                        "type":         "PRM",
                                        "name":         "Main Contract",
                                        "startDate":    "01-09-2013",
                                        "endDate":      "31-08-2015",
                                        "postCode":     "AHT",
                                        "dailyRate":    true
                                         "origin":       "Other",
                                        "destination":  ""                           
                                    }]
            }]

+ Response 200 (application/json)

    + Body
    
            [{
                "status":           true,
                "details":          "saved successfully",
                "employeeId":       00001,
                "contracts":        [{
                                        "status":           true,
                                        "details":          "",
                                        contractId":     1    
                                        "type":         "PRM",
                                        "name":         "Main Contract",
                                        "startDate":    "01-09-2013",
                                        "endDate":      "31-08-2015",
                       
                                    }]
            }]
            
            
### Update Contract [PUT]
Update one to many contract records  


+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "employeeId":       00001,
                "contracts":        [{
                                        contractId":       1,    
                                        "type":         "PRM",
                                        "name":         "Main Contract",
                                        "startDate":    "01-09-2013",
                                        "endDate":      "31-08-2015",
                                        "postCode":     "AHT",
                                        "dailyRate":    true
                                        "Base Pay":     36588.00
                                         "origin":       "Other",
                                        "destination":  ""                           
                                    }]
            }]

+ Response 200 (application/json)

    + Body
    
            [{
                "status":           true,
                "details":          "saved successfully"
                "employeeId":       00001,
                "contracts":        [{
                                        contractId":     1    
                                        "type":         "PRM",
                                        "name":         "Main Contract",
                                        "startDate":    "01-09-2013",
                                        "endDate":      "31-08-2015",
                        
                                    }]
            }]

## Create/Update Employees Contract Roles [/employeeContractRoles]
Collection of all employee roles for employee contracts within a school

### Create Roles for employee contracts [POST]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

    + Body
    
            [{
                "employeeId":       00001,
                "contractId":       00001,
                "roles":    [{
                                "roleId":           0
                                role":             "Teaching Assistant",
                                "hoursPerWeek":     32.50,
                                "FTEHours":         32.50,
                                "weeksPerYear":     52.14,
                                "payrollNumber":    123456,
                                "NIRate":           "Contracted In",
                                "superannuation":   "Teachers Superannuation",
                                "costCentre":       "TEACH",
                                "ledgerCode":       "A040"
                            }]
            },
            {
                "employeeId":       00002,
                "contractId":       00002,
                "roles":    [{
                                "roleId":           0,
                                "role":             "Teaching Assistant",
                                "hoursPerWeek":     32.50,
                                "FTEHours":         32.50,
                                "weeksPerYear":     52.14,
                                "payrollNumber":    123456,
                                "NIRate":           "Contracted In",
                                "superannuation":   "Teachers Superannuation",
                                "costCentre":       "TEACH",
                                "ledgerCode":       "A040"
                            }]
            
            }]

+ Response 200 (application/json)

    + Body
    
            [{
                "employeeId":       00001,
                "contractId":       00001,
                "roles":    [{
                                "status":           true,
                                "details":          "Saved Succesfully",
                                "roleId":           0001,
                                "role":             "Teaching Assistant",
                                "contractRoleId":   0001
                            }]
            },
            {
                "employeeId":       00002,
                "contractId":       00002,
                "roles":    [{
                                "status":           true,
                                "details":          "Saved Succesfully",
                                "roleId":           0002,
                                "role":             "Teaching Assistant",
                                "contractRoleId":   0002
                            }]
            }]


## Create/Update Employees Contract Roles [/employeeRoleSalary]
Collection of all employee roles for employee contracts within a school

### Create Roles for employee contracts [POST]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

    + Body
    
            [{
                "employeeId":       0001,
                "roleId":           0001,
                "salary":           [{
                                        "salaryId":      0
                                        "effectiveFrom":        "01-09-2014",
                                        "effectiveTo":          "31-08-2015",
                                        "payScale":             "",
                                        "regionalSpine":        "",
                                        "point":                "",
                                        "safeguardedSalary":    true,
                                        "includeInPensionCalc": false,
                                        "includeInNICalc":      true,
                                        "basePay":              15000.25
                
                                    }]
            
            
            },
            {
                "employeeId":       0002,
                "roleId":           0003,
                "salary":           [{
                                        "salaryId":      0
                                        "effectiveFrom":        "01-09-2014",
                                        "effectiveTo":          "31-08-2015",
                                        "payScale":             "",
                                        "regionalSpine":        "",
                                        "point":                "",
                                        "safeguardedSalary":    true,
                                        "includeInPensionCalc": false,
                                        "includeInNICalc":      true,
                                        "basePay":              15000.25
                                    }]
            
            }]
            
            
+ response 200 (application/json)

    + Body
    
            [{
                "employeeId":       0001,
                "roleId":           0001,
                "salary":           [{
                                        "status":           true,
                                        "details":          "Saved Succesfully",
                                        "salaryId":         0001,
                                        "roleSalaryId":     0001
                                    }]
            
            
            },
            {
                "employeeId":       0002,
                "roleId":           0003,
                "salary":           [{
                                        "status":           true,
                                        "details":          "Saved Succesfully",
                                        "salaryId":         0002,
                                        "roleSalaryId":     0002
                                    }]
            
            }]
            
            
## Employees Qualifications [/employeeQualifications{?employeeId}]
### Retrive a list of employee qualifications [GET]

+ Parameters
    + employeeId (optional, int, `1`) ... Contacts with the id

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Response 200 (application/json)

    + Body
           
              [{
                    "employeeId":       00001,
                    "staffCode":        "sc123",
                    "qualifications":   [{
                                            "qualificationId":      1,
                                            "qualificationCode":    "BEng: BEng",
                                            "subject1":             "A400: Clinical Dentistry",
                                            "subject2":             "B400: Nutrition",
                                            "classOfDegree":        "5: Third Degree honours",
                                            "verified":             true
                                        },
                                        {
                                            "qualificationId":      2,                                        
                                            "qualificationCode":    "DMU: Doctor of Music",
                                            "subject1":             "P300: Media studies",
                                            "subject2":             "W300: Music",
                                            "classOfDegree":        "1: First Class honours",
                                            "verified":             true                                        
                                        }]
            
              },
             {
                    "employeeId":       00002,
                    "staffCode":        "ad456",
                    "qualifications":   [{
                                            "qualificationId":      3,                                        
                                            "qualificationCode":    "BAG: Bachelor of Agriculture ",
                                            "subject1":             "B100: Anatomy, Physiology and Pathology ",
                                            "subject2":             "A400: Clinical Dentistry ",
                                            "classOfDegree":        "2: Upper Second Class honours",
                                            "verified":             true  
                                        }                
             
             
             
             }]



## Employees Qualifications [/employeeQualifications]
### Create employee qualifications [POST]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

    + Body
           
              [{
                    "employeeId":       00001,
                    "qualifications":   [{
                                            "qualificationId":      0,
                                            "qualificationCode":    "BEng: BEng",
                                            "subject1":             "A400: Clinical Dentistry",
                                            "subject2":             "B400: Nutrition",
                                            "classOfDegree":        "5: Third Degree honours",
                                            "verified":             true
                                        }]
            },
            {
                    "employeeId":       00002,
                    "qualifications":   [{
                                            "qualificationId":      0,                                        
                                            "qualificationCode":    "BAG: Bachelor of Agriculture ",
                                            "subject1":             "B100: Anatomy, Physiology and Pathology ",
                                            "subject2":             "A400: Clinical Dentistry ",
                                            "classOfDegree":        "2: Upper Second Class honours",
                                            "verified":             true  
                                        }            
            }]

+ Response 200 (application/json)

    + Body
    
            [{
                    "employeeId":       00001,
                    "qualifications":   [{
                                            "status":           true,
                                            "details":          "Saved Succesfully",
                                            "qualificationId":      1,
                                            "qualificationCode":    "BEng: BEng",

                                        }]
            },
            {
                    "employeeId":       00002,
                    "qualifications":   [{
                                            "status":           true,
                                            "details":          "Saved Succesfully",
                                            "qualificationId":      2,                                        
                                            "qualificationCode":    "BAG: Bachelor of Agriculture ",

                                        }]            
            }]
            

### Create employee qualifications [PUT]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

    + Body
           
              [{
                    "employeeId":       00001,
                    "qualifications":   [{
                                            "qualificationId":      1,
                                            "qualificationCode":    "BEng: BEng",
                                            "subject1":             "A400: Clinical Dentistry",
                                            "subject2":             "B400: Nutrition",
                                            "classOfDegree":        "5: Third Degree honours",
                                            "verified":             true
                                        }]
            },
            {
                    "employeeId":       00002,
                    "qualifications":   [{
                                            "qualificationId":      2,                                        
                                            "qualificationCode":    "BAG: Bachelor of Agriculture ",
                                            "subject1":             "B100: Anatomy, Physiology and Pathology ",
                                            "subject2":             "A400: Clinical Dentistry ",
                                            "classOfDegree":        "2: Upper Second Class honours",
                                            "verified":             true  
                                        }            
            }]

+ Response 200 (application/json)

    + Body
    
            [{
                    "employeeId":       00001,
                    "qualifications":   [{
                                            "status":           true,
                                            "details":          "Saved Succesfully",
                                            "qualificationId":      1,
                                            "qualificationCode":    "BEng: BEng",

                                        }]
            },
            {
                    "employeeId":       00002,
                    "qualifications":   [{
                                            "status":           true,
                                            "details":          "Saved Succesfully",
                                            "qualificationId":      2,                                        
                                            "qualificationCode":    "BAG: Bachelor of Agriculture ",

                                        }]            
            }]

    
# Group Contacts
Group of all contact-related resources

## Contacts Collection [/contacts/{id}]
+ Parameters
    + id (optional, int, `1`) ... Contacts with the id

    
### Retrieve a collection of contacts [GET]

+ Request

    + Headers
        
            Authorisation: "Bearer [CURRENT_TOKEN]"

+ Response 200 (application/json)

    + Body
    
            [{
                "title":                "Mr",
                "surname":              "King",
                "forename":             "Ice",
                "middleName":           "",
                "gender":               "M",
                "email":                "ice.king@home.com",
                "language":             "English",
                "occupation":           "",
                "nationality":          "UK",
                "isMedicalContact":     true,
                "workEmail":            "",
                "employer":             "",
                "translatorReqiured":   false,
                "exPupil":              false,
                "medicalType":          "",
                "visaNumber":           "",
                "memberOfArmedForces":  false,
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "013332552552",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }]
            },
            {
                "title":                "Mr",
                "surname":              "Princess",
                "forename":             "Fire",
                "middleName":           "",
                "gender":               "M",
                "email":                "fire.princess@home.com",
                "language":             "English",
                "occupation":           "",
                "nationality":          "UK",
                "isMedicalContact":     false,
                "workEmail":            "",
                "employer":             "",
                "translatorReqiured":   false,
                "exPupil":              false,
                "medicalType":          "",
                "visaNumber":           "",
                "memberOfArmedForces":  false,
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "01332225225",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "0777707777",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }]
            }]
            
            
## Create/Update Contact Records [/contacts]
### Create Contact [POST]
Create one to many contact records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "contactCode":          "3447", ...this is user field to match what is returned
                "title":                "Mr",
                "surname":              "King",
                "forename":             "Ice",
                "middleName":           "",
                "gender":               "M",
                "email":                "ice.king@home.com",
                "language":             "English",
                "occupation":           "",
                "nationality":          "UK",
                "isMedicalContact":     true,
                "workEmail":            "",
                "employer":             "",
                "translatorReqiured":   false,
                "exPupil":              false,
                "medicalType":          "",
                "visaNumber":           "",
                "memberOfArmedForces":  false,
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "013332552552",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }]
            },
            {
                "contactCode":          "3448",
                "title":                "Mr",
                "surname":              "Princess",
                "forename":             "Fire",
                "middleName":           "",
                "gender":               "M",
                "email":                "fire.princess@home.com",
                "language":             "English",
                "occupation":           "",
                "nationality":          "UK",
                "isMedicalContact":     false,
                "workEmail":            "",
                "employer":             "",
                "translatorReqiured":   false,
                "exPupil":              false,
                "medicalType":          "",
                "visaNumber":           "",
                "memberOfArmedForces":  false,
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "01332225225",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "0777707777",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                        }]
            }]
    


+ Response 200
    + Body
    
            [{
                "contactCode":          "3447",
                "contactId":            000001,
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "013332552552",
                                            "phoneId":  00004
                                        },{
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "phoneId":  00005
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                            "AddressId":  00003
                                        }]
            },
            {
                "contactCode":          "3448",
                "contactId":            000002,
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "01332225225",
                                            "phoneId":  00006
                                        },{
                                            "type":     "Mobile",
                                            "number":   "0777707777",
                                            "phoneId":  00007
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                            "AddressId":  00004
                                        }]
            }]


### Update Contact [PUT]
Update one to many contact records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "contactId":            000001,
                "title":                "Mr",
                "surname":              "King",
                "forename":             "Ice",
                "middleName":           "",
                "gender":               "M",
                "email":                "ice.king@home.com",
                "language":             "English",
                "occupation":           "",
                "nationality":          "UK",
                "isMedicalContact":     true,
                "workEmail":            "",
                "employer":             "",
                "translatorReqiured":   false,
                "exPupil":              false,
                "medicalType":          "",
                "visaNumber":           "",
                "memberOfArmedForces":  false,
                "phoneDetails":         [{
                                            "phoneId":  "00004",
                                            "type":     "Home",
                                            "number":   "0133321111111",
                                            "smsFlag":  false
                                        },{
                                             "phoneId":  00005,
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "smsFlag":  false
                                        }],
                "addressDetails":       [{
                                            "AddressId":  "",
                                            "country":  "United Kingdom",
                                            "type":     "Work",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                            
                                        }]
            },
            {
                "title":                "Ms",
                "surname":              "Princess",
                "forename":             "Fire",
                "middleName":           "",
                "gender":               "M",
                "email":                "updated@emailaddress.com",
                "language":             "English",
                "occupation":           "",
                "nationality":          "UK",
                "isMedicalContact":     false,
                "workEmail":            "",
                "employer":             "",
                "translatorReqiured":   false,
                "exPupil":              false,
                "medicalType":          "",
                "visaNumber":           "",
                "memberOfArmedForces":  false,
                "phoneDetails":         [{}],
                "addressDetails":       [{}]
            }]
    


+ Response 200
    + Body
    
            [{
                "contactId":            000001,
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                            "AddressId":  00007
                                        }]
            },
            {
                "contactId":            000002
                
            }]


            

# Group Learners
Group of all learner-related resources

## Learners Collection [/learners{?status}{?since}]
+ Parameters
    + status (optional, string, `active`) ... Learners within a registration group
    + since (optional, dateTime, `01-04-2014T18:00:00`) ... Learners within a year
    
    
### Retrieve a collection of learners [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
            
+ Response 200 (application/json)

    + Body
    
            [{
                "learnerId":       12345,
                "learnerCode":     "2013-00132",
                "UPN":             "U1234567890A",
                "ULN":             "",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20-04-2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03-09-2013",
                "Gender":          "Male",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                    }],
                "status":           "active"
                
            }]

## Learner Record [/learners/{id}]
+ Parameters
    + id (required, int, `12345`) ... The unique identifier of the learner
    
### Retrieve a learner [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
            
+ Response 200 (application/json)

    + Body
    
            [{
                "learnerId":       12345,
                "learnerCode":     "2013-00132",
                "UPN":             "G999900210101",
                "ULN":             "1234567890",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20-04-2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03-09-2013",
                "Gender":          "Male",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                    }],
                "status":           "active"
                
            }]


## Create/Update Learner Records [/learners]
### Create Learner [POST]
Create one to many learner records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
             [{
                "learnerCode":     "2013-00132",
                "UPN":             "G999900210101",
                "ULN":             "1234567890",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20-04-2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03-09-2013",
                "Gender":          "M",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                    }],
                "status":           "active",
                "contacts":         [{
                                        "contactId":                00004,
                                        "relationship":             "Father",
                                        "writtenCommunication":     "",
                                        "priority":                 1,
                                        "contactPrioritySource":    "",
                                        "emergencyContactLevel":    "Primary",
                                        "nextOfKin":                false,
                                        "addressDisclosure":        false,
                                        "addressTransferred":       false,
                                        "parentalResponsibility":   true,
                                        "feePayer":                 false,
                                        "parentalPortal":           true,
                                        "homeAddressLink":          true,
                                        "otherHomeAddressLink":     false,
                                        "sendSMS":                  true
                                    }]
                                        
                                        
                
            },
            {
                "learnerCode":     "2013-00133",
                "UPN":             "A12331AA13",
                "ULN":             "9876543210",
                "Forename":        "Milli",
                "Surname":         "Doe",
                "LegalForename":   "Jane",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "30-06-2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03-09-2013",
                "Gender":          "F",
                "RegGroup":        "7L3",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Provided by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "11111111",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "071111111",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
                                    }],
                "status":           "active",
                "contacts":         [{
                                        "contactId":                00001,
                                        "relationship":             "Step Father",
                                        "writtenCommunication":     "",
                                        "priority":                 2,
                                        "contactPrioritySource":    "",
                                        "emergencyContactLevel":    "Secondary",
                                        "nextOfKin":                false,
                                        "addressDisclosure":        false,
                                        "addressTransferred":       false,
                                        "parentalResponsibility":   false,
                                        "feePayer":                 false,
                                        "parentalPortal":           true,
                                        "homeAddressLink":          true,
                                        "otherHomeAddressLink":     false,
                                        "sendSMS":                  false
                                    },
                                    {
                                        "contactId":                00002,
                                        "relationship":             "Mother",
                                        "writtenCommunication":     "",
                                        "priority":                 1,
                                        "contactPrioritySource":    "",
                                        "emergencyContactLevel":    "Primary",
                                        "nextOfKin":                false,
                                        "addressDisclosure":        false,
                                        "addressTransferred":       false,
                                        "parentalResponsibility":   true,
                                        "feePayer":                 false,
                                        "parentalPortal":           true,
                                        "homeAddressLink":          true,
                                        "otherHomeAddressLink":     false,
                                        "sendSMS":                  true
                                    }]
                }]

+ Response 200
    + Body
    
            [{
                "status":               true,
                "details":              "saved successfully", 
                "learnerCode":             "JBl",
                "learnerId":           "000001",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "11111111",
                                            "phoneId":  "000051"
                                        },{
                                            "type":     "Mobile",
                                            "number":   "071111111",
                                            "phoneId":  "00006"
                                        }],
                "addressDetails":       [{
                                            "country":  "United Kingdom",
                                            "type":     "Home",
                                            "flat":     "3a",
                                            "number":   "1",
                                            "street":   "The Street",
                                            "locality": "Belper",
                                            "town":     "Derby",
                                            "county":   "Derbyshire"
                                            "postCode": "DD55 36DD"
[...]
