FORMAT: 1A
HOST: http://api.progresso.net/v2

# Progresso API
Provides the ability to manage school information.

# Group Employees
Group of all employee-related resources

## Employee Record [/employees/{id}]
+ Parameters
    + id (required, number, `12345`) ... The unique identifier of the employee

### Retrieve employee [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        
    

+ Response 200 (application/json)

    + Body
    
            {
                "staffCode:             "sc123",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                        }],
                "status":               "active",
                "niNumber":             "NI1234HJGJ34",
                qtStatus:               "",
                qtsRoute:               "",
                dateOfQTS:              "",
                HTLA:                   "",
                dateOfHTLAStatus:       "",
                languageDetails:        [{}],
                qualificationDetails:   [{
                                            qualificationCode:  "",
                                            subject1:           "",
                                            subject2:           "",
                                            classOfDegree:      "",
                                            verified:           ""
                                        }],
                nationality:            "",
                ethnicity:              "",
                religion:               "",
                laStartDate:            "",
                disability:             ""
            }


## Employees Collection [/employees{?status}{?since}]
Collection of all employees for a school

### Retrieve collection of employees [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Parameters
    + status (optional, string, `active`) ... Optional filter by status, valid values [ active | left ].
    + since (optional, string, `01-04-2014T18:00:00`) ... Optional filter to retrieve all changes since the date time specified. Only employee records that have changed will be returned.

+ Response 200 (application/json)

    + Body
    
            [{
                "employeeId":           12345,
                "staffCode:             "JBl",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                        }],
                "status":               "active",
                "niNumber":             "NI1234HJGJ34",
                qtStatus:               "",
                qtsRoute:               "",
                dateOfQTS:              "",
                HTLA:                   "",
                DateOfHTLAStatus:       "",
                LanguageDetails:        [{}],
                QualificationDetails:   [{
                                            qualificationCode:  "",
                                            subject1:           "",
                                            subject2:           "",
                                            classOfDegree:      "",
                                            verified:           ""
                                        }],
                nationality:            "",
                ethnicity:              "",
                religion:               "",
                laStartDate:            "",
                disability:             ""
            },
            {
                "employeeId":           54321,
                "staffCode:             "JDo",
                "title":                "Mrs",
                "surname":              "Doe",
                "forname":              "Jane",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Doe",
                "legalForename":        "Jane",
                "formerSurname":        "Smith",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "F",
                "startDate":            "28-02-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015556655",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075556655",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "3 The Street",
                                            "postCode": "DD55 38DD
                                        }],
                "status":               "active",
                "niNumber":             "NI123JHJGJ34",
                qtStatus:               "",
                qtsRoute:               "",
                dateOfQTS:              "",
                HTLA:                   "",
                DateOfHTLAStatus:       "",
                LanguageDetails:        [{}],
                QualificationDetails:   [{
                                            qualificationCode:  "",
                                            subject1:           "",
                                            subject2:           "",
                                            classOfDegree:      "",
                                            verified:           ""
                                        }],
                nationality:            "",
                ethnicity:              "",
                religion:               "",
                laStartDate:            "",
                disability:             ""
            }]

## Create/Update Employee Records [/employees]
### Create Employee [PUT]
Create one to many employee records

+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body

            {
                "staffCode:             "sc123",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "leftDate"              "21-06-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                        }],
                "status":               "active",
                "NINumber":             "NI1234HJGJ34",
                qtStatus:               "",
                qtsRoute:               "",
                dateOfQTS:              "",
                HTLA:                   "",
                dateOfHTLAStatus:       "",
                languageDetails:        [{}],
                qualificationDetails:   [{
                                            qualificationCode:  "",
                                            subject1:           "",
                                            subject2:           "",
                                            classOfDegree:      "",
                                            verified:           ""
                                        }],
                nationality:            "",
                ethnicity:              "",
                religion:               "",
                laStartDate:            "",
                disability:             ""
            }

+ Response 200
    + Body
    
            [{
                "staffCode:             "sc123",
                "EmployeeId":           "000001"
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "phoneId":  "00001",
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "phoneId":  "00002",
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                            "phoneId":  "00001"
                                        }],

### Update Employee Records [POST]
Update one to many employee records

+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body

            {
                "employeeId":           000001
                "staffCode:             "sc123",
                "title":                "Mr",
                "surname":              "Bloggs",
                "forname":              "Joe",
                "Department":           "Math",
                "Position":             "Teacher",
                "legalSurname":         "Bloggs",
                "legalForename":        "Joseph",
                "formerSurname":        "",
                "middleName":           "Bob",
                "dateOfBirth":          "31-12-1968",
                "Gender":               "M",
                "startDate":            "28-02-2014",
                "leftDate"              "21-06-2014",
                "teacherNumber":        "12456",
                "email":                "joe.bloggs@theschool.edu",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                        }],
                "status":               "active",
                "NINumber":             "NI1234HJGJ34",
                qtStatus:               "",
                qtsRoute:               "",
                dateOfQTS:              "",
                HTLA:                   "",
                dateOfHTLAStatus:       "",
                languageDetails:        [{}],
                qualificationDetails:   [{
                                            qualificationCode:  "",
                                            subject1:           "",
                                            subject2:           "",
                                            classOfDegree:      "",
                                            verified:           ""
                                        }],
                nationality:            "",
                ethnicity:              "",
                religion:               "",
                laStartDate:            "",
                disability:             ""
            }

+ Response 200
    + Body
    
            [{
                "EmployeeId":           "000001",
                "staffCode:             "sc123",
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "phoneId":  "00001",
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "phoneId":  "00002",
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                            "phoneId":  "00001"
                                        }],


# Group Contacts
Group of all contact-related resources

## Contacts Collection [/contacts{?Priority}{?Responsibility}]
+ Parameters
    + Priority (optional, int, `1`) ... Contacts with a Priority
    + Responsibility (optional, string, `true`) ... Contacts with Parental Responsibility
    
### Retrieve a collection of contacts [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId

+ Response 200 (application/json)

    + Body
    
            [{
                "title":                "Mr"
                "surname":              "King"
                "forename":             "Ice"
                "middleName":           ""
                "gender":               "M"
                "email":                "ice.king@home.com"
                "language":             "English"
                "occupation":           ""
                "nationality":          "UK"
                "isMedicalContact":     true
                "workEmail":            ""
                "employer":             ""
                "translatorReqiured":   false
                "exPupil":              false
                "medicalType":          ""
                "visaNumber":           ""
                "memberOfArmedForces":  false
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "013332552552",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "18 The Avenue",
                                            "postCode": "DE56 6DH
                                        }],
            },
            {
                "title":                "Mr"
                "surname":              "Princess"
                "forename":             "Fire"
                "middleName":           ""
                "gender":               "M"
                "email":                "fire.princess@home.com"
                "language":             "English"
                "occupation":           ""
                "nationality":          "UK"
                "isMedicalContact":     false
                "workEmail":            ""
                "employer":             ""
                "translatorReqiured":   false
                "exPupil":              false
                "medicalType":          ""
                "visaNumber":           ""
                "memberOfArmedForces":  false
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "01332225225",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "0777707777",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "20 The Avenue",
                                            "postCode": "DE56 6DH
                                        }],
            }]
            
            
## Create/Update Contact Records [/contacts]
### Create Contact [PUT]
Create one to many contact records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "title":                "Mr"
                "surname":              "King"
                "forename":             "Ice"
                "middleName":           ""
                "gender":               "M"
                "email":                "ice.king@home.com"
                "language":             "English"
                "occupation":           ""
                "nationality":          "UK"
                "isMedicalContact":     true
                "workEmail":            ""
                "employer":             ""
                "translatorReqiured":   false
                "exPupil":              false
                "medicalType":          ""
                "visaNumber":           ""
                "memberOfArmedForces":  false
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "013332552552",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "18 The Avenue",
                                            "postCode": "DE56 6DH
                                        }],
            },
            {
                "title":                "Mr"
                "surname":              "Princess"
                "forename":             "Fire"
                "middleName":           ""
                "gender":               "M"
                "email":                "fire.princess@home.com"
                "language":             "English"
                "occupation":           ""
                "nationality":          "UK"
                "isMedicalContact":     false
                "workEmail":            ""
                "employer":             ""
                "translatorReqiured":   false
                "exPupil":              false
                "medicalType":          ""
                "visaNumber":           ""
                "memberOfArmedForces":  false
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "01332225225",
                                            "smsFlag":  false
                                        },{
                                            "type":     "Mobile",
                                            "number":   "0777707777",
                                            "smsFlag":  true
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "20 The Avenue",
                                            "postCode": "DE56 6DH
                                        }],
            }]
    


+ Response 200
    + Body
    
            [{
                "contactId":            000001
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "013332552552",
                                            "phoneId":  00004
                                        },{
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "phoneId":  00005
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "18 The Avenue",
                                            "postCode": "DE56 6DH
                                            "AddressId":  00003
                                        }],
            },
                "contactId":            000002
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "01332225225",
                                            "phoneId":  00006
                                        },{
                                            "type":     "Mobile",
                                            "number":   "0777707777",
                                            "phoneId":  00007
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "20 The Avenue",
                                            "postCode": "DE56 6DH
                                            "AddressId":  00004
                                        }],
            }]


### Update Contact [POST]
Update one to many contact records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "contactId":            000001
                "title":                "Mr"
                "surname":              "King"
                "forename":             "Ice"
                "middleName":           ""
                "gender":               "M"
                "email":                "ice.king@home.com"
                "language":             "English"
                "occupation":           ""
                "nationality":          "UK"
                "isMedicalContact":     true
                "workEmail":            ""
                "employer":             ""
                "translatorReqiured":   false
                "exPupil":              false
                "medicalType":          ""
                "visaNumber":           ""
                "memberOfArmedForces":  false
                "phoneDetails":         [{
                                            "phoneId":  ""
                                            "type":     "Home",
                                            "number":   "0133321111111",
                                            "smsFlag":  false
                                        },{
                                             "phoneId":  00005
                                            "type":     "Mobile",
                                            "number":   "07707707707",
                                            "smsFlag":  false
                                        }],
                "addressDetails":       [{
                                            "AddressId":  ""
                                            "type":     "Work",
                                            "address":  "Newly Created Address",
                                            "postCode": "DE56 6DH
                                        }],
            },
            {
                "title":                "Mr"
                "surname":              "Princess"
                "forename":             "Fire"
                "middleName":           ""
                "gender":               "M"
                "email":                "updated@emailaddress.com"
                "language":             "English"
                "occupation":           ""
                "nationality":          "UK"
                "isMedicalContact":     false
                "workEmail":            ""
                "employer":             ""
                "translatorReqiured":   false
                "exPupil":              false
                "medicalType":          ""
                "visaNumber":           ""
                "memberOfArmedForces":  false
                "phoneDetails":         [{}],
                "addressDetails":       [{}],
            }]
    


+ Response 200
    + Body
    
            [{
                "contactId":            000001
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "18 The Avenue",
                                            "postCode": "DE56 6DH
                                            "AddressId":  00007
                                        }],
            },
                "contactId":            000002
                
            }]
            

# Group Learners
Group of all learner-related resources

## Learners Collection [/learners{?status}{?since}]
+ Parameters
    + status (optional, string, `active`) ... Learners within a registration group
    + since (optional, string, `01-04-2014T18:00:00`) ... Learners within a year
    
    
### Retrieve a collection of learners [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
            
+ Response 200 (application/json)

    + Body
    
            [{
                "learnerId":       12345,
                "learnerCode":     "2013-00132",
                "UPN":             "U1234567890A",
                "ULN":             "",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20/04/2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "Male",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                        "type":     "Home",
                                        "address":  "3 The Street",
                                        "postCode": "DD55 38DD
                                    }],
                "status":           "active",
                
            }]

## Learner Record [/learners/{id}]
+ Parameters
    + id (required, int, `12345`) ... The unique identifier of the learner
    
### Retrieve a learner [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
            
+ Response 200 (application/json)

    + Body
    
            [{
                "learnerId":       12345,
                "learnerCode":     "2013-00132",
                "UPN":             "G999900210101",
                "ULN":             "1234567890",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20/04/2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "Male",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                        "type":     "Home",
                                        "address":  "3 The Street",
                                        "postCode": "DD55 38DD
                                    }],
                "status":           "active",
                
            }]


## Create/Update Learner Records [/learners]
### Create Learner [PUT]
Create one to many learner records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
             [{
                "learnerCode":     "2013-00132",
                "UPN":             "G999900210101",
                "ULN":             "1234567890",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20/04/2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "M",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                        "type":     "Home",
                                        "address":  "18 The Lanes",
                                        "postCode": "DD55 38DD
                                    }],
                "status":           "active",
                "contacts":         [{
                                        "contactId":                00001
                                        "relationship":             "Father"
                                        "writtenCommunication":     ""
                                        "priority":                 1
                                        "contactPrioritySource":    ""
                                        "emergencyContactLevel":    "Primary"
                                        "nextOfKin":                false
                                        "addressDisclosure":        false
                                        "addressTransferred":       false
                                        "parentalResponsibility":   true
                                        "feePayer":                 false
                                        "parentalPortal":           true
                                        "homeAddressLink":          true
                                        "otherHomeAddressLink":     false
                                        "sendSMS":                  true
                                    }]
                                        
                                        
                
            },
            {
                "learnerCode":     "2013-00133",
                "UPN":             "A12331AA13",
                "ULN":             "9876543210",
                "Forename":        "Milli",
                "Surname":         "Doe",
                "LegalForename":   "Jane",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "30/06/2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "F",
                "RegGroup":        "7L3",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Provided by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "11111111",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "071111111",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                        "type":     "Home",
                                        "address":  "3 The Lanes",
                                        "postCode": "DD56 38DD
                                    }],
                "status":           "active",
                "contacts":         [{
                                        "contactId":                00001
                                        "relationship":             "Step Father"
                                        "writtenCommunication":     ""
                                        "priority":                 2
                                        "contactPrioritySource":    ""
                                        "emergencyContactLevel":    "Secondary"
                                        "nextOfKin":                false
                                        "addressDisclosure":        false
                                        "addressTransferred":       false
                                        "parentalResponsibility":   false
                                        "feePayer":                 false
                                        "parentalPortal":           true
                                        "homeAddressLink":          true
                                        "otherHomeAddressLink":     false
                                        "sendSMS":                  false
                                    },
                                    {
                                        "contactId":                00002
                                        "relationship":             "Mother"
                                        "writtenCommunication":     ""
                                        "priority":                 1
                                        "contactPrioritySource":    ""
                                        "emergencyContactLevel":    "Primary"
                                        "nextOfKin":                false
                                        "addressDisclosure":        false
                                        "addressTransferred":       false
                                        "parentalResponsibility":   true
                                        "feePayer":                 false
                                        "parentalPortal":           true
                                        "homeAddressLink":          true
                                        "otherHomeAddressLink":     false
                                        "sendSMS":                  true
                                    }]
                }]

+ Response 200
    + Body
    
            [{
                "learnerCode:             "JBl",
                "learnerId":           "000001"
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "11111111",
                                            "phoneId":  "000051",
                                        },{
                                            "type":     "Mobile",
                                            "number":   "071111111",
                                            "phoneId":  "00006",
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                            "phoneId":  "00003"
                                        },
                "contacts":             [{
                                            "contactId":            000001
                                            "learnerContactRelId":  000001
                                        }]
            },
            {
                "LearnerCode:             "JDo",
                "LearnerId":           "000002"
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "phoneId":  "00007",
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "phoneId":  "00008",
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                            "AddressId":  "00004"
                                        },
                "contacts":             [{
                                            "contactId":            000001
                                            "learnerContactRelId":  000002
                                        },
                                        {
                                            "contactId":            000002
                                            "learnerContactRelId":  000003
                                        }]
            }]

### Update Learner [POST]
Update one to many learner records            
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
            [{
                "learnerCode":     "2013-00132",
                "UPN":             "G999900210101",
                "ULN":             "1234567890",
                "Forename":        "Jonny",
                "Surname":         "Doe",
                "LegalForename":   "John",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "20/04/2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "M",
                "RegGroup":        "7L2",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Providede by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "phoneId":  "000051",
                                        "type":     "Home",
                                        "number":   "015556655",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "075556655",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                        "type":     "Home",
                                        "address":  "18 The Lanes",
                                        "postCode": "DD55 38DD
                                    }],
                "status":           "active",
                "contacts":         [{
                                        "contactId":                00001
                                        "relationship":             "Father"
                                        "writtenCommunication":     ""
                                        "priority":                 1
                                        "contactPrioritySource":    ""
                                        "emergencyContactLevel":    "Primary"
                                        "nextOfKin":                false
                                        "addressDisclosure":        false
                                        "addressTransferred":       false
                                        "parentalResponsibility":   true
                                        "feePayer":                 false
                                        "parentalPortal":           true
                                        "homeAddressLink":          true
                                        "otherHomeAddressLink":     false
                                        "sendSMS":                  true
                                    }]
                                        
                                        
                
            },
            {
                "learnerCode":     "2013-00133",
                "UPN":             "A12331AA13",
                "ULN":             "9876543210",
                "Forename":        "Milli",
                "Surname":         "Doe",
                "LegalForename":   "Jane",
                "LegalSurname":    "Doe",
                "DateOfBirth":     "30/06/2002",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "F",
                "RegGroup":        "7L3",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Provided by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{
                                        "type":     "Home",
                                        "number":   "11111111",
                                        "smsFlag":  false
                                    },{
                                        "type":     "Mobile",
                                        "number":   "071111111",
                                        "smsFlag":  true
                                    }],
                "addressDetails":   [{
                                        "type":     "Home",
                                        "address":  "3 The Lanes",
                                        "postCode": "DD56 38DD
                                    }],
                "status":           "active",
                "contacts":         [{
                                        "contactId":                00001
                                        "relationship":             "Step Father"
                                        "writtenCommunication":     ""
                                        "priority":                 2
                                        "contactPrioritySource":    ""
                                        "emergencyContactLevel":    "Secondary"
                                        "nextOfKin":                false
                                        "addressDisclosure":        false
                                        "addressTransferred":       false
                                        "parentalResponsibility":   false
                                        "feePayer":                 false
                                        "parentalPortal":           true
                                        "homeAddressLink":          true
                                        "otherHomeAddressLink":     false
                                        "sendSMS":                  false
                                    },
                                    {
                                        "contactId":                00002
                                        "relationship":             "Mother"
                                        "writtenCommunication":     ""
                                        "priority":                 1
                                        "contactPrioritySource":    ""
                                        "emergencyContactLevel":    "Primary"
                                        "nextOfKin":                false
                                        "addressDisclosure":        false
                                        "addressTransferred":       false
                                        "parentalResponsibility":   true
                                        "feePayer":                 false
                                        "parentalPortal":           true
                                        "homeAddressLink":          true
                                        "otherHomeAddressLink":     false
                                        "sendSMS":                  true
                                    }]
                },
                {
                "learnerCode":     "2013-00134",
                "UPN":             "",
                "ULN":             "",
                "Forename":        "In",
                "Surname":         "Valid",
                "LegalForename":   "In",
                "LegalSurname":    "Valid",
                "DateOfBirth":     "",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "F",
                "RegGroup":        "7L3",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Provided by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{}],
                "addressDetails":   [{}],
                "status":           "",
                "contacts":         [{}]
                }]
                
+ Response 200
    + Body
    
            [{
                "Status":               "Success",
                "learnerCode:           "2013-00132",
                "learnerId":            "000001"
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "11111111",
                                            "phoneId":  "000051",
                                        },{
                                            "type":     "Mobile",
                                            "number":   "071111111",
                                            "phoneId":  "00006",
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                            "phoneId":  "00003"
                                        },
                "contacts":             [{
                                            "contactId":            000001
                                            "learnerContactRelId":  000001
                                        }]
            },
            {
                "Status":               "Success",
                "LearnerCode:           "2013-00133",
                "LearnerId":           "000002"
                "phoneDetails":         [{
                                            "type":     "Home",
                                            "number":   "015555555",
                                            "phoneId":  "00007",
                                        },{
                                            "type":     "Mobile",
                                            "number":   "075555555",
                                            "phoneId":  "00008",
                                        }],
                "addressDetails":       [{
                                            "type":     "Home",
                                            "address":  "1 The Street",
                                            "postCode": "DD55 36DD
                                            "AddressId":  "00004"
                                        },
                "contacts":             [{
                                            "contactId":            000001
                                            "learnerContactRelId":  000012
                                        },
                                        {
                                            "contactId":            000002
                                            "learnerContactRelId":  000013
                                        }]
            },
            {
                "Status":           "Failure",
                "Reason":           [{"Invalid Date of Birth"},
                                    {"Invalid status"}],
                "learnerCode":     "2013-00134",
                "UPN":             "",
                "ULN":             "",
                "Forename":        "In",
                "Surname":         "Valid",
                "LegalForename":   "In",
                "LegalSurname":    "Valid",
                "DateOfBirth":     "",
                "Year":            "Year 7",
                "Course":          "Key Stage 3",
                "DateOfEntry":     "03/09/2013",
                "Gender":          "F",
                "RegGroup":        "7L3",
                "Ethnicity":       "AOWB",
                "EthnicitySource": "Provided by the parent",
                "EnrolementStatus":"Current",
                "NCYear":          "Year 7",
                "PhoneDetails":    [{}],
                "addressDetails":   [{}],
                "status":           "",
                "contacts":         [{}]
                

            }]
            
## Learner Health Details [/learnerHealth{?since}]
+ Parameters
    + since (optional, string, `01-04-2014T18:00:00`) ... Return records that have changed since date provided
    
### Retrieve a learner Health Details [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
            
+ Response 200 (application/json)

    + Body 
            
            [{
                "learnerCode":          "2013-00132",
                "learnerId":             000001,
                "allergies":              [{
                
                
                                          {],
                "foodPreference":        [{
                
                
                
                                        }],
                "dietaryNotes":         "",
                "disabilities":           [{
                
                
                                          }],
                "disabilityNotes":      "",
                "medicalConditions":    [{
                
                
                                        }],
                "medicalEvents":        [{
                
                
                                        }],
                    
            
            
            
            },
            {
               "learnerCode":          "2013-00132",
                "learnerId":             000001,
                "allergies":              [{
                
                
                                          {],
                "foodPreference":        [{
                
                
                
                                        }],
                "dietaryNotes":         "",
                "disabilities":           [{
                
                
                                          }],
                "disabilityNotes":      "",
                "medicalConditions":    [{
                
                
                                        }],
                "medicalEvents":        [{
                
                
                                        }],
            
            }]
    


# Group Groups
Group of all Group-related resources

## Groups Collection [/groups{?groupStartDate}{?groupEndDate}{?type}{?since}]

+ Parameters
    + groupStartDate (optional, string, `01-04-2014T18:00:00`) ... Groups with a start date on or after date
    + groupEndDate (optional, string, `01-04-2014T18:00:00`) ... Groups with a end date on or before date
    + type (optional, string, `teachingGroup`) ... Type of Group to Return
    + since (optional, string, `01-04-2014T18:00:00`) ... Groups modified since date provided
    
### Retrieve a collection of Groups [GET]

+ Request

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
            
+ Response 200 (application/json)

    + Body
    
            [{
                "groupCode":    "9A",
                "course":       "Key Stage 4"
                "dateFrom":     ""
                "dateTo":       ""
                "employeeId":   [{
                                    "StaffCode":    "JDo",
                                    "EmployeeId":   "00001"},
                                {""}],
                "groupId":      000001
                "name":         "9A",
                "size":         30
                "subjectCode":  ""
                "subjectName":  ""
                "type":         "RegistrationGroup",
                "Year":         "10"
            },
            {
                "groupCode":    "10AR/1",
                "course":       "Key Stage 4"
                "dateFrom":     ""
                "dateTo":       ""
                "employeeId":   [{
                                    "StaffCode":    "JDo",
                                    "EmployeeId":   "00001",
                                },
                                {
                                    "StaffCode":    "JDo",
                                    "EmployeeId":   "00002",
                                }],
                "groupId":      000002
                "name":         "10Art 1",
                "size":         29
                "subjectCode":  "AR"
                "subjectName":  "Art"
                "type":         "TeachingGroup",
                "Year":         "10"
            },
            
## Create/Update Group [/groups]
### Create Group [PUT]
Create one or many groups
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
             [{
                "groupCode":    "9A",
                "course":       "Key Stage 4"
                "dateFrom":     ""
                "dateTo":       ""
                "employee":   [{
                                    "StaffCode":    "JDo",
                                    "EmployeeId":   "00001"},
                                {""}],
                "name":         "9A",
                "subjectCode":  ""
                "subjectName":  ""
                "type":         "RegistrationGroup",
                "Year":         "10"
            },
            {
                "groupCode":    "10SC/1",
                "course":       "Key Stage 4"
                "dateFrom":     ""
                "dateTo":       ""
                "employee":   [{
                                    "StaffCode":    "JDo",
                                    "EmployeeId":   "00001"},
                                {""}],
                "name":         "10 Science 1",
                "subjectCode":  "SC"
                "subjectName":  "Science"
                "type":         "TeachingGroup",
                "Year":         "10"
            }]


+ Response 200
    + Body
    
            [{
                "groupId":      000001
                "groupCode":    "9B"
             },
            {
                "groupId":      000002
                "groupCode":    "10SC/1"
            }]


### Create Group [POST]
Update one or many groups
            
+ Request (application/json)

    + Headers
        
            partnerToken: validPartnerToken
            schoolId: validSchoolId
        

    + Body
    
             [{
                "groupId":      000001
                "groupCode":    "9B",
                "course":       "Key Stage 4"
                "dateFrom":     ""
                "dateTo":       ""
                "employee":   [{
                                    "StaffCode":    "JDo",
                                    "EmployeeId":   "00001"},
                                {
                                    "employeeId":           54321,
                                    "staffCode:             "JDo"
                                }],
                "name":         "9A",
                "subjectCode":  ""
                "subjectName":  ""
                "type":         "RegistrationGroup",
                "Year":         "9"
            }]


+ Response 200
    + Body
    
            [{
                "status":       "success"
                "groupId":      000001
                "groupCode":    "9B"
             }]











